/**
 * Standard_Cart / Cart Overrides
 */

 /** Change Blue Tone to Websavers Blue **/
 
 .cart #order-standard_cart .view-cart-items-header,
 .cart #order-standard_cart .empty-cart .btn{
 	background-color: #437BC4;
 }
 .cart #order-standard_cart .view-cart-items{
 	border-color: #437BC4;
 }
 
 .cart #order-standard_cart .sub-heading span{
 	color: #437BC4;
 }
 /************* End blue tone **************/

/** Order Steps. Inserted via JS **/
 
#stepsbox-container{
	width: 100%;
	padding: 13px 1%;
	
	background: #494949;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
}
 
div.stepsbox{
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	padding: 7px 5px;
	width: auto; 

	display: inline;
	text-align: center;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:none;

	background: none;
	color: white;
}
div.stepsbox a{
	color: white !important;
}
div.stepsbox.active,
.breadcrumb li.active a{
	font-weight: bold;
  padding: 1px 5px;
  background-color: #8BC542;
  color: white;
  border-radius: 3px;
}
.breadcrumb li.active a:hover{
  text-decoration: none;
}

div.stepsbox::after{
	content: "\f30b";
	font-family: 'Font Awesome 5 Pro';
	padding-left: 10px;
font-weight: 400;
}
div.stepsbox:last-child::after{
	display: none;
}

div.stepsboxinactive:hover{ }
 
/****** Order Steps END ********/

/** NEW ORDER STEPS **/
body.cart .breadcrumb-item.active{
  font-weight: bold;
}
body.cart .breadcrumb-item + .breadcrumb-item::before{
  content: "\f30b";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
}
/*********************/
 
 
.cart .clientcentre .fl-page-header,
.cart .clientcentre .fl-page-content{
	position: static !important;
}

.cart #content-inner.col-xs-12{
  padding-left: 0;
  padding-right: 0;
}
 
.cart .productlist.package-info{
	text-align: center;
}
.cart .productlist.package-info select[name=billingcycle]{
	width: 50%;
	margin: 0 auto 10px auto;
}
 
.cart #order-standard_cart{
	 padding-bottom: 0;
}

.cart #btnCompleteOrder{
	 margin-top: 20px;
}
.cart div.header-lined h1{
 	color: black;
 	margin-top: 20px;
}

.cart button#btnCompleteProductConfig.btn.btn-primary.btn-lg,
.cart .btn-checkout{
	width: 100%;
}

.cart .pull-md-right{
	 float: none;
	 width: 100%;
}
.cart #order-standard_cart .col-md-8 > p{
	 display: none;
}
.cart #order-standard_cart .panel-addon .panel-add,
.cart #order-standard_cart .form-control,
.cart #order-standard_cart .summary-container,
.cart #order-standard_cart .field,
.cart #order-standard_cart .domain-selection-options .option,
.cart .domain-checker-container,
.cart .domain-checker-container .input-group-box,
.cart .domain-checker-container .input-group-box input,
.cart #order-standard_cart .input-group-lg > .form-control,
.input-group-lg>.input-group-btn>.btn,
.cart #order-standard_cart .view-cart-items-header{
	 border-radius: 0;
}

#order-standard_cart select.form-control{
  padding-bottom: 6px;
  padding-top: 6px;
}
/*
.cart #order-standard_cart p{
	margin: 1em auto;
	text-align: center;
}
*/
.product-info br{
  display:none; /* these line breaks are auto-inserted and unwanted */
}

.cart #order-standard_cart .infotext,
.cart #order-standard_cart .errortext,
.cart #order-standard_cart .warntext{
	display: block;
	background-color: #ddd; /* match form border colour */
	padding: 5px 8px 8px;
	margin-top: -3px;
	margin-bottom: 5px;
}
.cart #order-standard_cart .errortext{
	background-color: #C44343;
	color:  white;
}
.cart #order-standard_cart .warntext{
	background-color: #ffdf7e; 
}
/*
.cart #order-standard_cart .item-price button{
	pointer-events: none;
	   cursor: default;
}
*/

.cart #order-standard_cart .item-title .btn{
	background-color: transparent;
}
.cart #order-standard_cart .item-price button span.caret{
	display: none;
}

.cart a.btn-continue-shopping{
	 display: none;
}

.cart .domain-selection-options + p{
	text-align: center;
}
.cart .domain-lookup-result .btn.invalid{
	 display: none;
}

.cart .extra-domain-fields blockquote{ /* CIRA text */
	word-wrap: break-word;
	font-size: 0.9em;
	line-height: 1.2em;
	width: 100%;
	border: none;
	margin: 10px 0;
	padding: 15px;
}

.cart .already-registered{
	text-align: center;
}
.cart .already-registered p{
	display: none;
}

.cart .text-center button{
	margin-top: 15px;
}

.cart .already-registered .pull-right{
	float: none !important;
}

.domain-checker-container{
	background: #efefef;
}
.domain-checker-container .input-group-box{
	background-color: transparent;
}

/* Too much left/right padding as is */
@media screen and (max-width: 989px){
  .cart .viewcart .col-md-9 .col-md-8,
  .cart .viewcart .col-md-9 .col-md-4{ padding: 0; } 
}

@media screen and (max-width:767px){

	.cart #btnCompleteOrder{
		width: 100%;
	}
	
	.checkbox-inline, .radio-inline{
		display: inline-block;
		text-align: left !important;
	}
	
	.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
		margin-left: 0;
		margin-top: 7px;
	}
	
}

input#inputEppcode0.field{
	width: 200px;
}

.domain-promo-box{
	text-align: center;
}

#order-standard_cart .prepend-icon input.field{
	display: block; /* Ensures the icon shows in the right spot */
}

#frmCheckout .marketing-email-optin p{
  text-align:left;
}

.cart .domain-promo-box{
	background-color: transparent;
	border-color: transparent;
}
.cart .domain-promo-box i{
	float: none;
}

/** Item buttons: edit / remove **/
.cart .view-cart-items .item-title a{
  display:inline-block;
}

.cart .btn-remove-from-cart{
 font-size: 14px;
}

@media screen and (min-width:768px){
	.domain-config .addon-products{
		text-align: center;
	}
	.domain-config .addon-products .col-sm-4{
	vertical-align: top;
		width: 32.9%;
		float: none;
		display: inline-block;
	}
}

/**
 * Domain Registration Areas
 */
@media screen and (max-width:767px){

	.cart #order-standard_cart .domain-suggestions label{
		 display:inline-block;
		 width:60%;
	}
  
  .cart .domain-pricing .two-row-center{
  	border-right: none;
  	text-align:center;
  	background: #eee;
  }
  .cart .domain-pricing .tld-row{
  	padding-top: 0;
  }
  .cart .domain-pricing .tld-row.highlighted{
  	background: transparent;
  }
	
}
@media screen and (max-width:650px){
	.cart #order-standard_cart .domain-suggestions{
		text-align: center;
	}
	.cart #order-standard_cart .domain-suggestions label{
		text-align: center;
		margin-bottom: 5px;
	}
	.cart #order-standard_cart .domain-suggestions .pull-right{
		float: none;
		display: block;
		width: 100%;
		padding-bottom: 25px;
	
	}
	
}

.clientcentre #order-standard_cart .checkout-security-msg{
	margin-bottom: 0 !important;
	padding: 5px;
}

#order-standard_cart #btnAlreadyRegistered{
	margin-left: 0 !important;
}

#order-standard_cart .iradio_square-blue + label,
#order-standard_cart .icheckbox_square-blue + label{
	display: inline;
}

#order-standard_cart .domain-selection-options .option{
	padding: 15px 20px !important;
}
#order-standard_cart .domain-selection-options .option label{
	 margin-bottom: 0;
}

.clientcentre #order-standard_cart label{
	color: #444;
}

/**
 * EPP Transfer Code field
 */
#order-standard_cart .eppcode{
	text-align: center;
	margin: 0 auto;
	float: none;
}
#order-standard_cart .eppcode .prepend-icon{
	width: auto;
	text-align: left;
}
#order-standard_cart .eppcode .prepend-icon input{
	display: inline-block;
	width: 100%;
}
#order-standard_cart .eppcode .prepend-icon label{
	text-align: left;
	left: 14px;
}

/** No need to show product group **/
#order-standard_cart .view-cart-items .item-group{
	display: none !important;
}

#order-standard_cart .item-title .btn{
	margin-bottom: 0;
}

/* WHMCS 8.1 Updates*/
body.cart section#main-body{ background-color: white; }
#order-standard_cart .sidebar{ display:none; }
#order-standard-cart > .row > .col-md-9,
#order-standard_cart .col-md-9.pull-md-right{ width: 100%; max-width: 100%; flex: 0 0 100%; }
#order-standard_cart .btn-remove-from-cart{ border-width: 1px; }
@media screen and (min-width: 900px){
  body.cart #order-standard_cart .checkout-security-msg i{ 
    font-size: 1.5em;
  	float: none;
  	display: inline;
  	margin-right: 4px;
    margin-left: 4px;
    padding-left: 0;
  }
}

#order-standard_cart .order-summary{
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 991px){
  #orderSummary,
  #order-standard_cart .secondary-cart-sidebar {
      width: 100% !important;
  }
}

#order-standard_cart > .row > .pull-md-right.col-md-9 > .header-lined > h1{ display:none; } /* duplicate */
#order-standard_cart .cart-sidebar,
#order-standard_cart .sidebar,
#order-standard_cart .sidebar-collapsed{
  display:none;
} 
#order-standard_cart .cart-body{ 
  margin: 0 auto;
  float: none;
}

#order-standard_cart .sub-heading span{
  background-color: white;
}

@media screen and (max-width: 767px){
  #inputNoStoreContainer{ margin-top: 15px; }
}

.icheckbox_square-blue{ margin-right: 5px; }

/* Reduce left/right spacing on CC Expiry */
@media screen and (min-width: 576px){
  #newCardInfo .col-sm-3.new-card-container{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Input field icons are just a little out of vertical alignment.
 * This is probably due to font size. This fixes that */
#order-standard_cart .prepend-icon .field-icon{
  height: 38px;
  line-height: 38px;
}

.marketing-email-optin{
  margin: 15px 0;
  padding: 15px;
}

/* .ca domain colours */
.featured-tld .price.ca{
	background-color: #CA1833;
	color: white;
}

/* Order Summary Floater Tweaks */

/* Avoid prices dropping to second line */
.summary-container > .clearfix > .pull-left{
	max-width: 240px;
	text-indent: -11px;
	margin-left: 12px;
}

/* Ensure '-or-' has right spacing */
#order-standard_cart .express-checkout-buttons .separator{
	margin-left: 0;
}

#productConfigurableOptions .form-group > label:first-child{
	font-size: 1.1em;
}
#productConfigurableOptions .form-group > label{
	font-weight: bold;
}
#productConfigurableOptions .form-group > br{
	margin-bottom: 10px;
}
#productConfigurableOptions .col-sm-6,
#productAddonsContainer .col-sm-6{ /* Make all options/addons full 100% width */
	flex: 0 0 100%;	
	max-width: 100%;
}